body, html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    background-color: #000022;
}


.bg-galexy{
    background-color: #000022;
}


/* main-sec */
.main-sec{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* header */
.sec1-h{
    width: 100%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 0rem 0rem 1rem 1rem;
    border: 0.15rem solid cyan;
    box-shadow: 0rem 0rem 1.7rem rgba(0, 255, 255, 0.645) inset;
}
.Rcoin-Pic{
    display: flex;
    flex-direction: row;
    margin-top: 0.2rem;
    margin-left: 0.3rem;
    width: 2rem;
    height:2rem;
}
.Div_P_Rcoin{
    width: 100%;
    height: 100%;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.P-Rcoin{
    color: #fff;
    font-family:cursive;
}
.RcoinBalane{
    display: flex;
    flex-direction: row;
    width: 25%;
    height: 2.3rem;
    border-radius: 0.8rem;
    margin-right: 1rem;
    border: 0.15rem solid cyan;
    box-shadow: 0rem 0rem 7rem rgba(0, 255, 255, 0.289) inset;
}
.vip-h{
    margin-left: 1.5rem;
}
.vip-h h2{
    font-size: 2rem;
    color: silver;
    text-shadow: 0rem 0rem 1rem cyan;
}


/* main */
.sec2-m{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7rem;
    margin-top: -20rem;
}
.value{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.b-coin-{
    width: 2.8rem;
    height: 2.8rem;
    display: flex;
    flex-direction: row;
    margin-top: 0.2rem;
    margin-left: -2rem;
}
.V-Pic{
    display: flex;
    flex-direction: row;
    
}

.icon{
    width: 14rem;
    height: 14rem;
    display: flex;
    flex-direction: row;
    margin-top: -2.5rem;
    margin-left: -2.5rem;
    border-radius: 50rem;
    filter: grayscale(52%);
}
.icon{
    display: flex;
    flex-direction: row;
    margin-left: 0.3rem;
}

.icon:active{
    filter: grayscale(10%);
}
.icon:active{
    filter: drop-shadow( 2px 2px 20px #011857);
    width: 13rem;
    height: 13rem;
    transition: 1s;

}

/* clicker-image */
#coinImage{
    /* cursor: pointer; */
}

/* col */
.value{
    display: flex;
    flex-direction: column;
}
.your-token{
    color: #ffffffba;
    font-family:cursive;
    font-size: 1.5rem;
    margin-top: 8rem;
}
.balanc{
    color: #ffff;
    font-family: Impact;
    display: flex;
    flex-direction: row;
    margin-top: -0.3rem;
    border-radius: 2rem;
    font-size: 3rem;
    text-shadow: -20px 5px 200px white;
}

.B-Icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: -2rem;
    width: 100%;
    height: 11.5rem;
}


/* footer */
.sec3-f{
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;
    
}
.container{
    width: 100%;
    height: 3.5rem;
    padding-top: 2rem;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem ;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: -22rem;
    border: 0.15rem solid cyan;
    box-shadow: 0rem 0rem 7rem rgba(0, 255, 255, 0.289) inset;
    border-bottom: #000022;
}

.friend-btn{
    width: 5rem;
    height: 5rem;
    filter: drop-shadow(0px 0px 30px  #7b00ff);
}
.wallet-btn{
    width: 4rem;
    height: 4rem;
    filter: drop-shadow(0px 0px 30px  #7b00ff);
}
.B-coin-btn{
    width: 5rem;
    height: 5rem;
    filter: drop-shadow(0px 0px 30px  rgba(255, 255, 255, 0.679));
}
.tv-btn{
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;
    width: 3rem;
    height: 3rem;
    filter: drop-shadow(0px 0px 20px  #7b00ff);
}
.todo-btn{
    width: 5rem;
    height: 5rem;
    display: flex;
    flex-direction: row;
    margin-right: -1rem;
    filter: drop-shadow(0px 0px 30px  #7b00ff);
}
.right-btns{
    display: flex;
    flex-direction: row;
    margin-top: -1.5rem;
}
.main-btns{
    display: flex;
    flex-direction: row;
    margin-top: -2rem;
}
.left-btns{
    display: flex;
    flex-direction: row;
    margin-top: -1.5rem;
}