body, html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    background-color: #000022;
}


.bg-galexy{
    background-color: #000022;
}


/* main-sec */
.main-sec{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* header */
.sec1-h{
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: inset 0.1rem 0.1rem 2rem 1px  gray;
}

.vip-h{
    margin-left: 1.5rem;
}
.vip-h h2{
    font-size: 2rem;
    color: silver;
}
.shop-h{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 1rem;
    margin-top: 0.5rem;
}
.shop-h img{
    width: 3rem;
    height: 3rem;
}


/* main */
.sec2-m{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7rem;
    margin-top: -20rem;
}
.value{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.b-coin-{
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
    margin-top: 0.3rem;
}

.icon{
    width: 14rem;
    height: 14rem;
    display: flex;
    flex-direction: row;
    margin-top: -2.5rem;
    margin-left: -2.5rem;
    border-radius: 50rem;
    filter: grayscale(52%);
}
.icon{
    display: flex;
    flex-direction: row;
    margin-left: 0.3rem;
    
}

.icon:active{
    filter: grayscale(10%);
}
.icon:active{
    filter: drop-shadow( 2px 2px 20px #011857);
    width: 13rem;
    height: 13rem;
    transition: 1s;

}

/* col */
.value{
    display: flex;
    flex-direction: column;
}
.your-token{
    color: #ffffffba;
    font-family:cursive;
    font-size: 1.5rem;
    margin-top: 8rem;
}
.balanc{
    color: #ffff;
    font-family: Impact;
    display: flex;
    flex-direction: row;
    margin-top: -0.3rem;
    border-radius: 2rem;
    font-size: 3rem;
    text-shadow: -20px 5px 200px white;
}

.B-Icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: -2rem;
    width: 100%;
    height: 11.5rem;
}


/* footer */
.sec3-f{
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;
}
.container{
    display: flex;
    flex-direction: row;
    margin-top: -22rem;
}

.friend-btn{
    width: 5rem;
    height: 5rem;
    filter: drop-shadow(0px 0px 30px  #7b00ff);
}
.wallet-btn{
    width: 4rem;
    height: 4rem;
    filter: drop-shadow(0px 0px 30px  #7b00ff);
}
.B-coin-btn{
    width: 5rem;
    height: 5rem;
    filter: drop-shadow(0px 0px 30px  rgba(255, 255, 255, 0.679));
}
.tv-btn{
    width: 5rem;
    height: 5rem;
    filter: drop-shadow(0px 0px 20px  #7b00ff);
}
.todo-btn{
    width: 5rem;
    height: 5rem;
    display: flex;
    flex-direction: row;
    margin-right: -1rem;
    filter: drop-shadow(0px 0px 30px  #7b00ff);
}
.right-btns{
    display: flex;
    flex-direction: row;
    margin-top: -1.5rem;
}
.main-btns{
    display: flex;
    flex-direction: row;
    margin-top: -2rem;
}
.left-btns{
    display: flex;
    flex-direction: row;
    margin-top: -1.5rem;
}
